<!--
  Generated template for the Game page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>{{activePlayer.description}}</p>
  <ion-grid *ngIf="!winner">
    <ion-row>
      <ion-col class="field" col-4 (click)="handleProcess('first', activePlayer.legend)">{{field.first}}</ion-col>
      <ion-col class="field" col-4 (click)="handleProcess('second', activePlayer.legend)">{{field.second}}</ion-col>
      <ion-col class="field" col-4 (click)="handleProcess('third', activePlayer.legend)">{{field.third}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="field" col-4 (click)="handleProcess('fourth', activePlayer.legend)">{{field.fourth}}</ion-col>
      <ion-col class="field" col-4 (click)="handleProcess('fifth', activePlayer.legend)">{{field.fifth}}</ion-col>
      <ion-col class="field" col-4 (click)="handleProcess('sixth', activePlayer.legend)">{{field.sixth}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="field" col-4 (click)="handleProcess('seventh', activePlayer.legend)">{{field.seventh}}</ion-col>
      <ion-col class="field" col-4 (click)="handleProcess('eighth', activePlayer.legend)">{{field.eighth}}</ion-col>
      <ion-col class="field" col-4 (click)="handleProcess('ninth', activePlayer.legend)">{{field.ninth}}</ion-col>
    </ion-row>
  </ion-grid>
  <p *ngIf="winner">{{winner}}</p>
</ion-content>
